.DS_Store
.legacy/
__pycache__/
*.pyc

resolving/containerization/images/npm/build/
resolving/containerization/images/npm/bin/

resolving/containerization/images/cargo/target/
resolving/containerization/images/cargo/job_once/

dep_*
